<h2 class="project-title">Project: {{ projectName }}</h2>

<div class="layout">
    <!-- Left: Form -->
    <section class="form-section">
        <form [formGroup]="sprintForm" (ngSubmit)="addSprint()" class="form-box">
            <h3>Add New Sprint</h3>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Sprint Name</mat-label>
                <input matInput formControlName="sprintName" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="sprintStartDate" />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="sprintEndDate" />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>JIRA</mat-label>
                <textarea matInput formControlName="sprintJira"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="sprintDescription"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Assigned To</mat-label>
                <textarea matInput formControlName="assignedTo"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Status</mat-label>
                <mat-select formControlName="sprintFor" [compareWith]="compareById">
                    <mat-option *ngFor="let status of statusList" [value]="status">
                        {{ status.statusName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit"
                [disabled]="sprintForm.invalid || userRole === 'VIEWER'">
                Add Sprint
            </button>
        </form>

        <div class="chart-toggle">
            <button mat-stroked-button (click)="showChart = !showChart">
                {{ showChart ? 'Hide' : 'Show' }} Project Progress
            </button>
        </div>

        <div *ngIf="showChart" class="chart-box">
            <app-sprint-progress-chart [sprints]="sprints"></app-sprint-progress-chart>
        </div>
    </section>

    <!-- Right: Sprint List -->
    <section class="list-section">
        <h3>Sprint List</h3>

        <div class="sprint-list">
            <div *ngFor="let sprint of sprints; let i = index" class="sprint-card">
                <ng-container *ngIf="editIndex !== i; else editMode">
                    <h4>{{ sprint.sprintName }}</h4>
                    
                    <div class="sprint-row">
                        <span class="sprint-label">Start:</span>
                        <div class="sprint-value">{{ sprint.sprintStartDate | date }}</div>
                    </div>
                    
                    <div class="sprint-row">
                        <span class="sprint-label">End:</span>
                        <div class="sprint-value">{{ sprint.sprintEndDate | date }}</div>
                    </div>
                    
                    <div class="sprint-row">
                        <span class="sprint-label">JIRA:</span>
                        <div class="sprint-value">{{ sprint.sprintJira }}</div>
                    </div>
                    
                    <div class="sprint-row">
                        <span class="sprint-label">Description:</span>
                        <div class="sprint-value">{{ sprint.sprintDescription }}</div>
                    </div>
                    
                    <div class="sprint-row">
                        <span class="sprint-label">Assigned:</span>
                        <div class="sprint-value">{{ sprint.assignedTo }}</div>
                    </div>
                    
                    <div class="sprint-row">
                        <span class="sprint-label">Status:</span>
                        <div class="sprint-value">{{ sprint.sprintFor?.statusName }}</div>
                    </div>

                    <div class="action-bar">
                        <button mat-icon-button color="primary" (click)="enableEdit(i)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="confirmDelete(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </ng-container>

                <ng-template #editMode>
                    <form [formGroup]="editForm" (ngSubmit)="saveEdit(i)" class="edit-form">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Sprint Name</mat-label>
                            <input matInput formControlName="sprintName" />
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="editPicker1" formControlName="sprintStartDate" />
                            <mat-datepicker-toggle matSuffix [for]="editPicker1"></mat-datepicker-toggle>
                            <mat-datepicker #editPicker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="editPicker2" formControlName="sprintEndDate" />
                            <mat-datepicker-toggle matSuffix [for]="editPicker2"></mat-datepicker-toggle>
                            <mat-datepicker #editPicker2></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>JIRA</mat-label>
                            <textarea matInput formControlName="sprintJira"></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="sprintDescription"></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Assigned To</mat-label>
                            <textarea matInput formControlName="assignedTo"></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="sprintFor" [compareWith]="compareById">
                                <mat-option *ngFor="let status of statusList" [value]="status">
                                    {{ status.statusName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="action-bar">
                            <button mat-flat-button color="primary" type="submit">Save</button>
                            <button mat-stroked-button color="basic" type="button"
                                (click)="cancelEdit()">Cancel</button>
                        </div>
                    </form>
                </ng-template>
            </div>
        </div>
    </section>
</div>